<div id="content-new_war">
	<%= form_for :histories, remote: true do |f| %>
		<div class="element">
			<div class="center">
				<%= f.select :points, options_for_select([['Points to win/loose','null'],['1000','1000'],['5000','5000'],['10000','10000']], :selected => '') %>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<%= f.select :nb_players, options_for_select([['Max members','null'],['5',5],['10',10],['15',15]], :selected => '') %>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<%= f.select :tournament_id, options_for_select(@list_tournament.map{ |u| [u.name, u.id] }, :selected => 1) %>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<%= f.date_field :date_start, min: Date.today, max: Date.today + 17.days, value: Date.today + 2.days %>
				<%= f.date_field :date_end, min: Date.today + 4.days, max: Date.today + 19.days, value: Date.today + 4.days  %>
			</div>
		</div>
	<% end %>
		<div class="element">
			<div class="center">
				<button id="attack" value="0">Random</button>
			</div>
		</div>
	<% if @list_guild.count > 0%>
	<div class="break"></div>
	<div class="element">
		<div class="center">
			<input id="wars_search" placeholder="Search...">
		</div>
	</div>
	<div class="break"></div>
	<div class="big-element">
		<div id="title">
			<h2>Guilds</h2>
		</div>
		<% @i = 0%>
		<div id="corp">
			<% @list_guild.each do |guild| %>
			<div class="war">
				<div id="position">
					<p><%= @i += 1 %></p>
				</div>
				<div id="target">
					<p><%= guild.name %></p>
				</div>
				<div id="target">
					<p><%= guild.nbmember %></p>
				</div>
				<div id="target">
					<p><%= guild.points %></p>
				</div>
				<div id="targetbtn">
					<button id="attack" value="<%= guild.id %>">Attack</button>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	<% end %>
</div>