<div id="content-war">
	<div class="big-element" id="guild">
		<div id="title">
			<h2 id="guild_name">
				<%= @guild1.name %>
			</h2>
		</div>
		<div id="corp">
			<% @i =0 %>
			<% @list_users1.each do |user| %>
			<div id="user">
				<div id="position">
					<p><%= @i += 1 %></p>
				</div>
				<div id="username">
					<p><%= user.nickname %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="big-element" id="noBackground">
		<div id="score">
			<h1><%= Tournament.find_by_id(@war.tournament_id).name %></h1>
			<% if @war.points_guild1 > @war.points_guild2 %>
				<h1><span class="text-green"><%= @war.points_guild1 %> </span> / <span class="text-red"><%= @war.points_guild2 %></span></h1>
			<% else %>
				<h1><span class="text-red"><%= @war.points_guild1 %> </span> / <span class="text-green"><%= @war.points_guild2 %></span></h1>
			<% end%>
			<% if @war.status == 1 && @startdays >= 1 %>
				<h1 class="text-orange">Start in : <%= @startdays %> days</h1>
				<button id="change_team" class="green_button" onClick="window.location='/#edit_war/<%= @war.id %>'" >Change My Team</button>
			<% elsif @war.status == 1 && @startdays < 1 %>
				<h1 class="text-orange">Start in : <%= @starthours / (60 * 60) %> hours</h1>
			<% elsif @war.status == 2 && @enddays >= 1 %>
				<h1 class="text-green">In war</h1>
				<h1 class="text-green">Finish in : <%= @enddays %> days</h1>
			<% elsif @war.status == 2 && @enddays < 1 %>
				<h1 class="text-green">In war</h1>
				<h1 class="text-green">Finish in : <%= @endhours / (60 * 60) %> hours</h1>
			<% elsif @war.status == 3 %>
				<h1 class="text-red">Finished</h1>
			<% end %>
		</div>
	</div>
	<div class="big-element" id="guild">
		<div id="title">
			<h2 id="guild_name">
				<%= @guild2.name %>
			</h2>
		</div>
		<div id="corp">
			<% @i =0 %>
			<% @list_users2.each do |user| %>
			<div id="user">
				<div id="position">
					<p><%= @i += 1 %></p>
				</div>
				<div id="username">
					<p><%= user.nickname %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="break"></div>
	<% if @wars_history.count > 0%>
		<div class="big-element">
			<div id="title">
				<h2>Last fights</h2>
			</div>
			<% @i = 0%>
			<div id="corp">
				<% @wars_history.each do |fight| %>
				<div class="war">
					<div id="position">
						<p><%= @i += 1 %></p>
					</div>
					<div id="target">
						<p><%= User.find_by_id(fight.host_id).nickname %></p>
					</div>
					<div id="target">
						<p><%= User.find_by_id(fight.opponent_id).nickname %></p>
					</div>
					<div id="target">
						<p><%= fight.score_host_id %> / <%= fight.score_opponent_id %></p>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	<% end %>

</div>