<div id="content-history">
	<%= stylesheet_link_tag "history_index.css" %>
	<%= form_for :tournaments do |f| %>
		<%= f.select :end, options_for_select(@tournament.map{ |u| [u.name, u.id] }, :selected => 1) %>
	<% end %>
	<button id="ranked_game" class="green_button">Ranked Game</button>
	<button id="practice_game" class="green_button">Practice Game</button>
	<% top = 150 %>
	<div class="history">
		<h1>Recent games :</h1>
	</div>
	<% @games.each do |game| %>
		<% if game.statut == 2%>
			<button class="green_button" onClick="window.location='/#show_game/<%= game.id %>'">Continue</button>
		<% else %>
			<div class="game_resume history" style="top: <%= top %>px" onClick="window.location='/#show_game/<%= game.id %>'">
				<div class="PP l_PP" style='background-image: url("<%= game.host.image %>")'>
				</div>
				<h3><%= game.host_id %> vs <%= game.opponent_id %></h3>
				<h1><%= "#{game.host_score} - #{game.opponent_score}"%></h1>
				<div class="PP r_PP" style='background-image: url("<%= game.opponent.image %>")'>
				</div>
			</div>
		<% top += 160 %>
		<% end %>
	<% end %>
	<% top = 150 %>
	<div class="spectate">
		<h1>Spectate :</h1>
	</div>
	<% @spectate.each do |game| %>
		<div class="game_resume spectate" style="top: <%= top %>px" onClick="window.location='/#show_game/<%= game.id %>'">
			<div class="PP l_PP" style='background-image: url("<%= game.host.image %>")'>
			</div>
			<h3><%= game.host_id %> vs <%= game.opponent_id %></h3>
			<h1><%= "LIVE"%></h1>
			<div class="PP r_PP" style='background-image: url("<%= game.opponent.image %>")'>
			</div>
		</div>
		<% top += 160 %>
	<% end %>
</div>