<%= stylesheet_link_tag "pong_v1.css" %>
<%= content_tag :div, '', id: 'game_data', data: { statut: @game.statut, id: @game.id } %>
<div id="wrapper">
    <div class='profile_pic' id='left_PP' style='background-image: url("<%= @game.host.image %>")'></div>
    <div id="game">
        <div class="goal"></div>
        <div id="left_player" class="player"></div>
        <div id="ball"></div>
        <div class="goal" style='left: calc(var(--game_width) - var(--player_width)'></div>
        <div id="right_player" class="player"></div>
    </div>
    <div class='profile_pic' id='right_PP' style='background-image: url("<%= @game.opponent.image %>")'></div>
</div>
<div>
    <center><h2 id="score">
    <% if @game.statut == 0 %>
        Waiting For Opponent
    <% end %>
    </h2></center>
</div>
<div>
    <p>TESTING : </p>
    <p>ID : <%= @game.id %></p>
    <p id='dev'>THIS IS THE DEV DIV</p>
</div>

<%= javascript_pack_tag 'pong_v1' %>