<div id="content-guilds">
	<div id="element">
		<div id="center">
			<% if current_user.id_guild == -1 %>
			<div id="left">
				<button class="green_button" onClick="window.location='/#new_guild'">Create your guild</button>
			</div>
			<div id="right">
				<input id="guild_search" type="text" maxlenght="30" placeholder="Search a guild...">
			</div>
			<% else %>
			<div id="full">
				<input id="guild_search" type="text" maxlenght="30" placeholder="Search a guild...">
			</div>
			<% end %>
		</div>
	</div>
	<% if @guilds.count > 0 %>
		<div id="guild-list">
			<% @i = 0%>
			<% @guilds.each do |guild| %>
			<div id="guild">
				<div id="position">
					<p><%= @i += 1 %></p>
				</div>
				<div id="information">
					<p><%= guild.name %></p>
				</div>
				<div id="information">
					<p><%= guild.nbmember %> / <%= guild.maxmember %></p>
				</div>
				<div id="action" onClick="window.location='/#show_guild/<%= guild.id %>'">
					<p>voir</p>
				</div>
			</div>
			<% end %>
		</div>
	<% end %>
</div>