<div id="content-guild">
	<input id="guild_id" type="hidden" maxlenght="10" value="<%= @guild.id %>">
	<div id="element">
		<div id="title">
			<h2 id="guild_name">
				<%= @guild.name %>
			</h2>
		</div>
		<div id="corp">
			<p><%= @guild.description %></p>
		</div>
	</div>
	<div id="big-element">
		<div id="title">
			<h2>Users <%= @guild.nbmember %> / <%= @guild.maxmember %></h2>
		</div>
		<div id="corp">
			<% @i =0 %>
			<% @list_users.each do |user| %>
			<div id="user">
				<div id="position">
					<p><%= @i +=1 %></p>
				</div>
				<div id="username">
					<% if user.id == @guild.id_admin%>
						<p>Admin</p>
					<% elsif (@admin == 1 || (@officer == 1 && !(@guild.officers.include?user.id) && @guild.id_admin != user.id)) %>
						<p>
							<select id="officer_select" onClick="document.getElementById('id').value = <%= user.id %>">
								<option value="officer" <%= (@guild.officers.include?user.id) ? "selected" : "" %>>Officer</option> 
								<option value="user" <%= (@guild.officers.include?user.id)  ? "" : "selected" %>>User</option>
							</select>
					<% else %>
							<p> <%= (@guild.officers.include?user.id) ? "Officer" : "User" %></p>
					<% end %>
				</div>
				<div id="username">
					<p><%= @guild.anagramme + " - " + user.nickname %></p>
				</div>
				<% if (@admin_guild == 1 || @admin == 1 || (@officer == 1 && !(@guild.officers.include?user.id) && @guild.id_admin != user.id)) %>
				<div id="action">
					<button class="red_button" id="quit_guild" onClick="document.getElementById('id').value = <%= user.id %>"><i class="fas fa-times"></i></button>
					<button class="red_button" id="ban_guild" onClick="document.getElementById('id').value = <%= user.id %>">BAN</button>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<% if @ban_users.count > 0 && @admin == 1 %>
		<div id="big-element">
			<div id="title">
				<h2>Banned</h2>
			</div>
			<div id="corp">
				<% @i = 0 %>
				<% @ban_users.each do |id| %>
				<% @user = User.find_by_id(id) %>
				<div id="user">
					<div id="position">
						<p><%= @i += 1 %></p>
					</div>
					<div id="username">
						<p><%= @user.nickname %></p>
					</div>
					<div id="action">
					
						<button class="red_button" id="unban_guild" onClick="document.getElementById('id').value = <%= @user.id %>">UNBAN</button>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="break"></div>
	<% if @wars_histories.count > 0 %>
		<div id="big-element">
			<div id="title">
				<h2>Last wars</h2>
			</div>
			<div id="corp">
				<% @i=0%>
				<% @wars_histories.each do |wars_history| %>
					<div id="war">
					<% if (Guild.find_by_id(wars_history.host_id) && Guild.find_by_id(wars_history.opponent_id)) %>
						<% @color1 = wars_history.host_score > wars_history.opponent_score ? "green" : "red"; %>
						<% @color2 = wars_history.host_score < wars_history.opponent_score ? "green" : "red" ; %>
						<div id="position">
							<p><%= @i += 1 %></p>
						</div>
						<div id="target">
							<p><%= Guild.find_by_id(wars_history.host_id).name %> : <%= wars_history.host_score %></p>
						</div>
						<div id="target">
							<p><%= Guild.find_by_id(wars_history.opponent_id).name %> : <%= wars_history.opponent_score %></p>
						</div>
					<% end %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<div id="element">
		<div id="title">
			<h2>Actions</h2>
		</div>
		<div id="corp">
			<% if @my_guild == 1%>
			<button class="red_button" id="quit_guild" onClick="document.getElementById('id').value = <%= current_user.id %>">Leave guild</button>
			<% elsif !current_user.guild_id %>
			<button class="green_button" id="join_guild">join this guild</button>
			<% end %>
			<button class="grey_button" onClick="window.location='/#guilds'">Other guilds</button>
			<input id="id" type="hidden" maxlenght="10" value="<%= @guild.id %>">
		<% if (@admin_guild == 1 || @admin == 1) %>
			<button class="red_button" id="change_admin">Change Admin</button>
			<div class="element-line">
				<%= form_for @guild do |f| %>
					<%= f.select :id_admin, options_for_select(@list_users.map{ |u| [u.nickname, u.id] }, :selected => @user.id) %>
				<% end %>
				<button class="grey_button" id="exec_change_admin">OK</button>
			</div>
		<% end %>
	</div>
		
</div>