<div id="content-tchat">
    <div id="center" class="default">
        <div id="element">
            <div id="title">
                <h2>channels</h2>
            </div>
            <div id="corp">
                <div id="action">
                    <button class="CreateaChannel">create a channel</button>
                </div>
                <div id="list">

                    <% @channel.each do |element| %>
                    <%
                    @datas = Sanctions.find_by_user_id_and_target_id(element.id, @current_user.id)
                    if (!(@datas && @datas.end_time <= Time.now.to_i && @datas.sanction_type == 1))
                    if (element.type_channel==1 && element.user_id != current_user.id) 
                    %>
                    <div id="channel" class="privateChannel">
                        <input type="hidden" value="<%= element.id %>">
                        <div id="icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div id="info">
                            <p><%= element.title %></p>
                        </div>
                    </div>
                    <% else %>
                    <div id="channel" class="publicChannel">
                        <input type="hidden" value="<%= element.id %>">
                        <div id="icon">
                            <% if (element.type_channel==1) %>
                            <i class="fas fa-lock"></i>
                            <% else %>
                            <i class="fas fa-unlock"></i>
                            <% end %>
                        </div>
                        <div id="info">
                            <p><%= element.title %></p>
                        </div>
                    </div>
                    <% end %>
	            	<% end %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
    <div id="center" class="createChannel">
        <div id="element">
            <div id="title">
                <h2>Create channel</h2>
            </div>
            <form>
                <input type="text" class="title" placeholder="Channel name..." maxlength="45">
                <select class="type">
                    <option value="">--Please choose an channel type--</option>
                    <option value="1">Private</option>
                    <option value="2">Public</option>
                </select>
                <div id="align">
                    <button type="button" class="cancelCreateChannel">Cancel</button>
                    <button type="button" class="submitCreatechannel">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div id="center" class="pvChannel">
        <div id="element">
            <div id="title">
                <h2>Private channel</h2>
            </div>
            <form>
                <input type="text" class="key" placeholder="Channel key..." maxlength="12">
                <div id="align">
                    <button type="button" class="cancelPrivateChannel">Cancel</button>
                    <button type="button" class="submitPrivateChannel">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div id="center" class="adminChannel">
        <div id="element">
            <div id="title">
                <h2 class="ChannelAdmintitle"></h2>
            </div>
            <div id="mode">
                <button class="ChannelAdminMode"></button>
                <button class="removeChannel">delete channel</button>
            </div>
            <div id="mode">
                <button class="banSwitch">ban users</button>
                <button class="muteSwitch">mute users</button>

            </div>
            <div id="swapAdmin">
                <div id="input-text">
                    <div id="left">
                        <input class="newAdmin" type="text" placeholder="Indicate a username for swap admin role..." maxlength="60">
                    </div>
                    <div id="right">
                        <button class="newAdminSubmit" ><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div id="info">
                <div id="input-text">
                    <div id="left">
                        <p>Key :</p>
                    </div>
                    <div id="right">
                        <input type="text" maxlength="12" class="ChannelAdminkey" placeholder="Indicate the channel key...">
                    </div>
                </div>
            </div>

            <div id="action">
                <input type="hidden" class="adminId" value="">
                <button type="button" class="cancelAdminChannel">Cancel</button>
            </div>
        </div>
    </div>
    <div id="center" class="sanctionChannel">
        <div id="element">
            <div id="title">
                <h2 class="sanctionTitle"></h2>
            </div>
            <div id="addSanction">
                <input class="SanctionNickname" type="text" placeholder="Username for the sanction..." maxlength="60">
                <br/>
                <select class="SanctionTime">
                    <option value="">--Please choose an amount of time--</option>
                    <option value="dog">1 minute</option>
                    <option value="cat">5 minutes</option>
                    <option value="hamster">30 minutes</option>
                    <option value="parrot">1 heure</option>
                    <option value="spider">4 heures</option>
                    <option value="goldfish">6 heures</option>
                    <option value="goldfish">12 heures</option>
                    <option value="goldfish">24 heures</option>
                </select>
                <button class="SanctionSubmit">make sanction</button>
            </div>
            <div id="sanctionList">
            </div>
            <div id="action">
                <button class="cancelSanction">cancel</button>
            </div>
        </div>
    </div>
    <div id="center" class="channel">
        <div id="element">
            <div id="title">
                <h2 class="Channeltitle"></h2>
            </div>
            <div id="messages">
            </div>
            <div id="action" class="actionChannel">
                <input type="text" class="message" placeholder="Your message..." maxlength="90">
                <input type="hidden" class="Channelkey" value="">
                <input type="hidden" class="Channelid" value="">
                <button type="button" class="cancelMessage">Cancel</button>
                <button type="button" class="submitMessage">send</button>
                <button type="button" class="submitAdminChannel">Admin</button>
            </div>
        </div>
    </div>


    <div id="center" class="privateMessages">
        <div id="element">
            <div id="title">
                <h2>Private messages</h2>
            </div>
            <div id="corp">
                <div id="action">
                    <div id="input-text">
                        <div id="left">
                            <input type="text" class="UsernameNewConversation" placeholder="Username of your new interlocutor...">
                        </div>
                        <div id="right">
                            <button class="InitNewConversation"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div id="list">
                    <% @messages.each do |element|
                        if (element["blocked"] == 1)
                    %>
                        <div id="message" class="glbmessage">
                            <div id="icon">
                                <img src="<%= element['image'] %>" alt="user icon">
                            </div>                            
                            <div id="username">
                                <p><%= element['nickname'] %></p>
                            </div>
                            <input type="hidden" value="<%= element['target_id'] %>">
                            <input type="hidden" value="<%= element['nickname'] %>">
                        </div>
                        <% else %>
                        <div id="blockMessage">
                            <div id="icon">
                                <img src="<%= element['image'] %>" alt="user icon">
                            </div>                            
                            <div id="username">
                                <p><%= element['nickname'] %></p>
                            </div>
                            <input type="hidden" value="<%= element['target_id'] %>">
                        </div>
                        <% end %>
                    <% end %>
                </div>
           </div>
        </div>
    </div>
    <div id="center" class="privateConversation">
        <div id="element">
            <div id="title">
                <h2 class="ConversationWith"></h2>
            </div>
            <div id="messages" class="PrivateMessages">
            </div>
            <div id="action" class="actionChannel">
                <input type="text" class="PrivateConvMessage" placeholder="Your message..." maxlength="90">
                <input type="hidden" class="PrivateConvTargetId" value="">
                <button type="button" class="CancelConversation">Cancel</button>
                <button type="button" class="submitConversationMessage">send</button>
            </div>
        </div>
    </div>
    <div id="center">
        <div id="userProfil">
            <div id="header">
                <div id="icon">
                    <img class="UserIcon" alt="user icon" src="">
                </div>
                <div id="title">
                    <h1 class="UserTitle"></h1>
                </div>
            </div>
            <div id="informations">
            </div>
        </div>
    </div>
</div>