<div id="content-user">
	<div id="title">
		<div id="center">
			<div id="left">
				<img src='<%= @user.image %>' onerror="if (this.src != 'https://cdn.intra.42.fr/users/medium_default.png') this.src = 'https://cdn.intra.42.fr/users/medium_default.png';">
				<input id="id" type="hidden" maxlength="10" value="<%= @user.id %>" >
			</div>
			<div id="right">
				<div id="name">
					<% if (@current == 1 || @admin == 1)%>
						<h1 class="username"><%= @user.nickname %> <i id="modif_username" class="fas fa-pen"></i></h1>
						<div id="container">
							<input class="username_input" type="text" maxlength="20" placeholder="New username...">
							<i id="confirm_modif_username" class="fas fa-check"></i>
							<i id="cancel_modif_username" class="fas fa-times fa-times-switch"></i>
						</div>
					<% else %>
						<h1 class="username"><%= @user.nickname %></h1>
					<% end %>
					<h3><%= !@user.guild_id ? "NO GUILD" : @guild.name %></h3>
				</div>
			</div>
		</div>
	</div>
	<div id="corp">
		<% if @current != 0 %>
			<div id="element">
				<div id="name">
					<h2>2fa</h2>
				</div>
				<div id="container">
					<%= content_tag :div, '', id: 'player_data', data: { id: @me.id, otp: @me.otp_required_for_login} %>
					<div id="otp_qrcode"></div>
					<div id="otp_confirm_form">
						<%= form_for :tfa_confirm, remote: true do |f| %>
							<%= f.text_field :otp, placeholder: "Enter OTP here"%>
						<% end %>
					</div>
					<div id="otp_disable_form">
						<%= form_for :tfa_disable, remote: true do |f| %>
							<%= f.text_field :otp, placeholder: "Enter OTP here"%>
						<% end %>
					</div>
					<button class="green_button border-radius" id="otp_confirm_button">Confirm OTP</button>
					<button class="green_button border-radius" id="otp_enable">Enable 2FA</button>
					<button class="green_button border-radius" id="otp_disable_button">Disable 2FA</button>
				</div>
			</div>
		<% end %>
		<div id="element">
			<div id="name">
				<h2>statistics</h2>
			</div>
			<div id="container">
				<div id="line">
					<p><span class="text-bold"><i class="fas fa-gamepad"></i> Games played :</span> <%= (@user_stat.victory + @user_stat.defeat) %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-green"><i class="fas fa-crown"></i> Victories :</span> <%= @user_stat.victory %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-red"><i class="fas fa-times"></i> Defeats :</span> <%= @user_stat.defeat %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-gold"><i class="fas fa-trophy"></i> Tournaments won :</span> <%= @user_stat.tournament %></p>
				</div>
			</div>
		</div>
		<div id="element">
			<div id="name">
				<h2>actions</h2>
			</div>
			<div id="container">
				<% if @current == 1 || @admin == 1 %>
					<div class="element-line">
						<span>Available for war?</span>
						<label class="switch">
							<input id="user_available" type="checkbox" <%= @user.available == true ? "checked" : ""%>>
							<span class="slider"></span>
						</label>
					</div>
				<% end %>
				<div class="element-line">
				<% if (@current == 1 || @admin == 1) && @user.deleted == false %>
					<button class="back-red border-radius" id="delete_user" ><i class="fas fa-trash-alt"></i> Delete account</button><br/>
				<% end %>
				</div>
				<div class="element-line">
					<% if (@admin == 1 && @user.banned == false) && @user.deleted == false %>
						<button class="back-red border-radius" id="ban_user" ><i class="fas fa-trash-alt"></i> Ban account</button><br/>
					<% elsif @admin == 1 && @user.banned == true %>
						<button class="back-red border-radius" id="unban_user" ><i class="fas fa-trash-alt"></i> Unban account</button><br/>
					<% end %>
				</div>
				<div class="element-line">
				<% if @current != 1 && !(@me.friends.include?@user.id) && @user.deleted == false %>
					<button class="back-blue border-radius" id="add_friend" ><i class="fas fa-user-friends"></i> Add Friend</button>
				<% elsif @current != 1 && (@me.friends.include?@user.id) && @user.deleted == false %>
					<button class="back-red border-radius" id="del_friend" value="<%= @user.id %>"><i class="fas fa-user-friends"></i> Remove Friend</button>
				<% end %>
				</div>
			</div>
		</div>
		<% if (@current == 1 && @user.friends.empty? == false)%>
			<div id="element">
				<div id="name">
					<h2>Friends</h2>
				</div>
				<div id="container">
					<div id="friends">
						<%= form_for :tournaments do |f| %>
							<%= f.select :end, options_for_select(@tournament.map{|u| [u.name, u.id]}, :selected => 1) %>
						<% end %>
						<% @user.friends.each do |friend_id| %>
							<% friend = User.where({ id: friend_id}).select("nickname", "id").first; %>
							<% if friend != nil %>
								<div id="friend">
									<div id="status">
										<% if friend.isOnline() == "online" %>
										<i class="fas fa-check-circle"></i>
										<% else %>
										<i class="fas fa-moon"></i>
										<% end %>
									</div>
									<div id="username">
										<p><%= friend.nickname %></p>
									</div>
									<div id="action">
										<% if friend.isOnline() == "in_game" %>
										<div id="button">
											<button id="watch_game_user" class="back-green" value="<%= friend.findLiveGame() %>">Live</button>
											<button id="del_friend" value="<%= friend.id %>"><i class="fas fa-times"></i></button>
										</div>
										<% else %>
										<div id="buttons">
											<button id="duel_game_user" class="back-green" value="<%= friend.id %>">Duel!</button>
											<button id="del_friend" value="<%= friend.id %>"><i class="fas fa-times"></i></button>
										</div>
										<% end %>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% if (@histories.empty? == false) %>
		<div id="container-history">
			<div id="head">
				<h2>last games</h2>
			</div>
			<div id="history">
				<% @histories.each do |history| %>
					<% if history.statut != -1 && history.opponent != nil %>
						<div id="game">
							<div id="icon">
								<% if (history.host_id == @user.id && history.host_score > history.opponent_score) %>
									<i id="" class="fas fa-check"></i>
								<% elsif (history.opponent_id == @user.id && history.host_score < history.opponent_score) %>
									<i id="" class="fas fa-check"></i>
								<% else %>
									<i class="fas fa-times"></i>
								<% end %>
							</div>
							<div id="target">
								<p onClick="window.location='/#show_user/<%= history.host_id %>'"><%= @user.id != history.host_id ? User.where({id: history.host_id}).select("nickname").first.nickname : @user.nickname %></p>
							</div>
							<div id="target">
								<p onClick="window.location='/#show_user/<%= history.opponent_id %>'"><%= @user.id != history.opponent_id ? User.where({id: history.opponent_id}).select("nickname").first.nickname : @user.nickname %></p>
							</div>
							<div id="score">
								<p><%= history.host_score %> / <%= history.opponent_score %></p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	</div>
<script type="text/javascript" src="/js/show_hide_otp.js"></script>
</div>