<div id="content-user">
	<div id="title">
		<div id="center">
			<div id="left">
				<img src='<%= @user.image %>' alt="profil_icon">
				<input id="id" type="hidden" maxlenght="10" value="<%= @user.id %>" >
			</div>
			<div id="right">
				<div id="name">
					<% if (@current == 1 || @admin == 1)%>
						<h1 class="username"><%= @user.nickname %> <i id="modif_username" class="fas fa-pen"></i></h1>
						<div id="container">
							<input class="username_input" type="text" maxlenght="30" placeholder="New username...">
								<i id="confirm_modif_username" class="fas fa-check"></i>
								<i id="cancel_modif_username" class="fas fa-times fa-times-switch"></i>
						</div>
					<% else %>
						<h1 class="username"><%= @user.nickname %></h1>
					<% end %>
					<h3><%= !@user.guild_id ? "NO GUILD" : @guild.name %></h3>
				</div>
			</div>
		</div>
	</div>
	<div id="corp">
		<div id="element">
			<div id="name">
				<h2>statistic</h2>
			</div>
			<div id="container">
				<div id="line">
					<p><span class="text-bold"><i class="fas fa-gamepad"></i> Parties jouez :</span> <%= (@user_stat.victory + @user_stat.defeat) %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-green"><i class="fas fa-crown"></i> Victoires :</span> <%= @user_stat.victory %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-red"><i class="fas fa-times"></i> Defaites :</span> <%= @user_stat.defeat %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-gold"><i class="fas fa-trophy"></i> Tournois gagnés :</span> <%= @user_stat.tournament %></p>
				</div>
			</div>
		</div>
		<% if @current == 1 || @admin == 1 %>
			<div id="element">
				<div id="name">
					<h2>actions</h2>
				</div>
				<div class="element-line">
					<span>Available for war?</span>
					<label class="switch">
						<input id="user_available" type="checkbox" <%= @user.available == true ? "checked" : "";%>>
						<span class="slider"></span>
					</label>
				</div>
				<div class="display-flex" id="container">
					<button id="delete_user" ><i class="fas fa-trash-alt"></i> Delete account</button>
				</div>
			</div>
		<% end %>
		<% if @histories.count > 0 %>
			<div id="container-history">
				<div id="head">
					<h2>historique games</h2>
				</div>
				<div id="history">
					<% @histories.each do |history| %>
						<div id="game">
							<div id="icon">
								<% if (history.host_score > history.opponent_score) %>
								<i id="" class="fas fa-check"></i>
								<% else %>
								<i class="fas fa-times"></i>
								<% end %>
							</div>
							<div id="target">
								<p onClick="window.location='/#show_user/<%= history.host_id %>'"><%= User.find_by_id(history.host_id).nickname %></p>
							</div>
							<div id="target">
								<p onClick="window.location='/#show_user/<%= history.opponent_id %>'"><%= User.find_by_id(history.opponent_id).nickname %></p>
							</div>
							<div id="score">
								<p><%= history.host_score %> / <%= history.opponent_score %></p>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>