<!DOCTYPE html>
<html>
  <head>
    <title>Pong</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/custom.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if user_signed_in? %>
	<header>
		<div id="left">
			<h1>PongGame</h1>
		</div>
		<div id="right">
			<button>Account</button>
			<button>T'Chat</button>
			<button><%= link_to "Play", '/test' %></button>
			<button>Guilds</button>
			<button>Tournaments</button>
			<button id="sign_out"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></button>

		</div>
		</header>
	<% end %>
		<%= yield %><br>
  </body>
</html>
