<div id="content-account">
	<div id="title">
		<div id="center">
			<div id="left">
				<img src='<%= current_user.image %>' alt="profil_icon">
			</div>
			<div id="right">
				<div id="name">
					<h1><%= current_user.nickname %></h1>
					<h3><%= current_user.id_guild == -1 ? "NO GUILD" : Guild.find(current_user.id_guild).name %></h3>
				</div>
			</div>
		</div>
	</div>
	<div id="corp">
		<div id="element">
			<div id="name">
				<h2>statistic</h2>
			</div>
			<div id="container">
				<div id="line">
					<p><span class="text-bold"><i class="fas fa-gamepad"></i> Parties jouez :</span> <%= Stat.find(current_user.id_stats).victory + Stat.find(current_user.id_stats).defeat %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-green"><i class="fas fa-crown"></i> Victoires :</span> <%= Stat.find(current_user.id_stats).victory %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-red"><i class="fas fa-times"></i> Defaites :</span> <%= Stat.find(current_user.id_stats).defeat %></p>
				</div>
				<div id="line">
					<p><span class="text-bold text-gold"><i class="fas fa-trophy"></i> Tournois gagnés :</span> <%= Stat.find(current_user.id_stats).tournament %></p>
				</div>
			</div>
		</div>
		<div id="element">
			<div id="name">
				<h2>delete</h2>
			</div>
			<div class="display-flex" id="container">
				<button class="delete" ><i class="fas fa-trash-alt"></i> Delete your account</button>
			</div>
		</div>
	</div>
</div>