<div id="content-home">
    <% current_user %>
    <h1>Welcome on Pong Application</h1>
	<%= debug session.to_hash %>
	<p> TOTO </p>
	ici
	<%= debug current_user.id.inspect %>
	<%# <%= if current_user.id == '1' %> %>
	la
	<%# <%= debug current_user.id %> %>
	<%# <%= end%> %>

	<%# <%= debug current_user %> %>
</div>