<div id="content-ladder">
	<div id="center">
		<div id="title">
			<h1>ladder</h1>
		</div>
		<div id="wrapper">
			<% index = 1%>
			<% @t_users.each do |t_user| %>
				<div class="player" onClick="window.location='/#show_user/<%= t_user.user_id %>'">
					<div id="left">
						<div id="icon">
							<img alt="<%= t_user.user.nickname %> image" src="<%= t_user.user.image %>" onerror="this.src='https://cdn.intra.42.fr/users/medium_default.png';">
						</div>
						<div id="rank">
							<p>#<%= index %></p>
						</div>
					</div>
					<div id="right">
						<div class="nickname">
							<p><%= t_user.user.nickname %> - Elo : <%= t_user.elo %>
						</div>
						<div class="stats">
							<p><span class="victory"><%= t_user.user.stat.victory %></span> - <span class="defeat"><%= t_user.user.stat.defeat %></span></p>
						</div>
					</div>
				</div>
				<% index += 1 %>
			<% end %>
		</div>
	</div>
	<%= stylesheet_link_tag "ladder.css" %>
</div>