<div id="content-tournaments">
	<div id="center">
		<div id="create">
			<button onClick="window.location='/#new_tournament'">Create your tournament</button>
		</div>
		<% if @tournaments.count > 0%>
			<div id="list">
				<% @i = 0%>
				<% @tournaments.each do |tournament| %>
				<div id="tournament">
					<div id="position">
						<p><%= @i += 1 %></p>
					</div>
					<div id="info">
						<p><%= tournament.name %></p>
					</div>
					<div id="info">
						<p><%= tournament.description %></p>
					</div>
					<div id="info">
						<p><%= (tournament.end.to_d - tournament.start.to_d).to_i %> days left</p>
					</div>
					<div id="info" >
						<button  onClick="window.location='/#show_tournament/<%= tournament.id %>'" >Voir</button>
					</div>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>