<div id="content-tournaments">
	<div id="center">
		<% if @me.role == 1%>
			<div id="create">
				<button onClick="window.location='/#new_tournament'">Create your tournament</button>
			</div>
		<% end %>
		<% if @tournaments.count > 0%>
			<div id="list">
				<% @i = 0%>
				<% @tournaments.each do |tournament| %>
					<div id="tournament">
						<div id="position">
							<p><%= @i += 1 %></p>
						</div>
						<div id="info">
							<p><%= tournament.name %></p>
						</div>
						<div id="info">
							<% if (tournament.end && (tournament.start.to_i - DateTime.current.to_i).to_i < 0) %>
								<p class="text-red"><%= ((tournament.end.to_i - DateTime.current.to_i).to_i / (60 * 60 * 24)) + 1%> days left</p>
							<% elsif ((tournament.start.to_i - DateTime.current.to_i).to_i > 0) %>
								<p class="text-green2">Start in : <%=((tournament.start.to_i - DateTime.current.to_i).to_i / (60 * 60 * 24)) + 1%> days</p>
							<% end%>
						</div>
						<div id="info" >
							<button  onClick="window.location='/#show_tournament/<%= tournament.id %>'" >Voir</button>
							<% if (TournamentUser.where("user_id = ? and tournament_id = ?", current_user.id, tournament.id).count == 0) %>
						        <button class="green_button" id="playerJoin" value="<%= tournament.id %>">Join</button>
					        <% end %>
                        </div>
					</div>
				
				<% end %>
			</div>
		<% end %>
	</div>
</div>