<div id="content-new_tournament">
	<%= form_for @tournament, remote: true do |f| %>
		<div class="element">
			<div class="center">
				<%= f.text_field :name, maxlength: 20, size: 24, placeholder: "Enter tournament name"%>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<%= f.text_area :description, cols: 50, rows: 5, maxlength: 250, placeholder: "Description...(250characters max)" %>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<%= f.select :start, options_for_select([['When start?',''],['now', Time.now ],['5', Time.now + 5.day ],['10', Time.now + 10.day],['30', Time.now + 30.day]], :selected => '') %>
				<%= f.select :end, options_for_select([['How long?',''],['5', Time.now + 5.day ],['10', Time.now + 10.day],['30', Time.now + 30.day]], :selected => '') %>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<button id="create_tournament">Create</button>
			</div>
		</div>
	<% end %>
</div>