<div id="content-tournament">
	<div class="big-element" id="guild">
		<div id="title">
			<h2 id="guild_name">
				Informations
			</h2>
		</div>
		<div id="corp">
			<p>Nom : <%= @tournament.name %></p>
			<p>Description : <%= @tournament.description %></p>
			<p>Max Points : <%= @tournament.maxpoints %></p>
			<p>Speed : <%= @tournament.speed %></p>
		</div>
	</div>
	<div class="break"></div>
	<% if @t_users.count > 0 %>
		<div class="big-element">
			<div id="title">
				<h2>Ranking</h2>
			</div>
			<div id="corp">
				<% @i=0%>
				<% @t_users.each do |t_user| %>
					<div class="war">
						<div id="position">
							<p><%= @i += 1 %></p>
						</div>
						<div id="target">
							<p onClick="window.location='/#show_user/<%= t_user.user_id %>'"><%= t_user.user.nickname %></p>
						</div>
						<div id="target">
							<p>points : <%= t_user.elo %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
	<% if @wars_histories.count > 0 %>
		<div class="big-element">
			<div id="title">
				<h2>Last games</h2>
			</div>
			<div id="corp">
				<% @i=0%>
				<% @wars_histories.each do |wars_history| %>
					<% @user = User.find_by_id(wars_history.host_id) %>
					<% @user2 = User.find_by_id(wars_history.opponent_id) %>
					<div class="war">
						<div id="position">
							<p><%= @i += 1 %></p>
						</div>
						<div id="target">
							<p onClick="window.location='/#show_user/<%= wars_history.host_id %>'"><%= @user.nickname %> : <%= wars_history.host_score %></p>
						</div>
						<div id="target">
							<p onClick="window.location='/#show_user/<%= wars_history.opponent_id %>'"><%= @user2.nickname %> : <%= wars_history.opponent_score %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>